<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://localhost:8080/oauth2/authorization/kakao?client_id=322d4765d010c2f3fc829617857c6951&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code">카카오로그인</a>
<a href="http://localhost:8080/oauth2/authorization/google?client_id=240024395741-oc8usa98rar58q43ncv93hf3krmhgrba.apps.googleusercontent.com&redirect_uri=http://localhost:8080/login/oauth2/code/google&response_type=code&scope=email%20profile">구글 로그인</a>
</body>
</html>